@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"), url("./fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
